<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en" dir="ltr">&ndash;&gt;-->
<!--&lt;!&ndash; <head>&ndash;&gt;-->
<!--&lt;!&ndash;   <meta charset="utf-8">&ndash;&gt;-->
<!--&lt;!&ndash;  <title></title>&ndash;&gt;-->
<!--&lt;!&ndash;  <style media="screen">&ndash;&gt;-->
<!--&lt;!&ndash;      h1{&ndash;&gt;-->
<!--&lt;!&ndash;         color:red;&ndash;&gt;-->
<!--&lt;!&ndash;      }&ndash;&gt;-->
<!--&lt;!&ndash;       h2{&ndash;&gt;-->
<!--&lt;!&ndash;         color:orange;&ndash;&gt;-->
<!--&lt;!&ndash;      }&ndash;&gt;-->
<!--&lt;!&ndash;  </style>&ndash;&gt;-->
<!--&lt;!&ndash; </head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<h1>Welcome to Django Templates Demo</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<h2>Second hero of django in MVT:Templates</h2>&ndash;&gt;-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--&lt;!&ndash; </body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->


<!--<!DOCTYPE html>-->
<!--<html lang="en" dir="ltr">-->
<!--  <head>-->
<!--    <meta charset="utf-8">-->
<!--    <title></title>-->
<!--    <style media="screen">-->
<!--      h1{-->
<!--        color :red;-->
<!--      }-->
<!--      h2{-->
<!--        color : blue;-->
<!--      }-->
<!--    </style>-->
<!--  </head>-->
<!--  <body>-->
<!--    <h1>Welcome to Django Templates Demo</h1>-->
<!--    <h2>Now server time is:{{insert_date}}</h2>-->
<!--  </body>-->
<!--</html>-->
<body>
<h1>welcome to django templates demo</h1>
<h2>hello guest now server time is:{{insert_date}}</h2>
<ol>
    <li>NAME:{{name}}</li>
    <li>MARKS:{{marks}}</li>
    <li>ROLLNO:{{rollno}}</li>
</ol>
</body>